@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,500;1,700&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --primary: red;
    --bg: rgb(255, 255, 255);
    --bgfade: rgb(245, 245, 245);
}

body {
    background-color: var(--bgfade);
}

header {
    height: 100vh;
    width: 100vw;
}

.logo {
    margin-left: clamp(1.5rem, 3.589vw + 0.244rem, 3rem);
    width: auto;
    display: flex;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    font-size: clamp(2.5rem, 2.392vw + 1.663rem, 3.5rem);
    letter-spacing: 3px;
}

.mask {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(6rem, 4.630vw + 2.444rem, 8rem);
    width: 100vw;
    background-color: var(--bg);
    z-index: 1;
}

nav {
    background-color: var(--bg);
    position: absolute;
    display: block;
    transform: translateY(-150%);
    top: clamp(6rem, 4.630vw + 2.444rem, 8rem);
    width: 100vw;
    transition: all 300ms ease-in-out;
    border-radius: 0 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    z-index: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav li a {
    padding: 2rem;
}

nav li a,
span {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", serif;
    font-size: clamp(1.75rem, 0.598vw + 1.541rem, 2rem);
    font-weight: 300;
    letter-spacing: 1px;
}

nav li div {
    display: flex;
}

nav li .cta {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 1rem 0;
    margin: 0 4rem;
    background-color: var(--primary);
    justify-content: center;
    gap: 1rem;
}

nav li .book-now {
    display: flex;
    flex-direction: column;
}

nav li .book-now span {
    color: var(--bg);
    font-weight: 600;
}

.last-li {
    margin: 0rem clamp(0rem, 33.493vw - 11.722rem, 14rem);
}

lord-icon {
    filter: invert(100%) sepia(82%) saturate(3%) hue-rotate(216deg) brightness(117%) contrast(100%);
}

.hamburger {
    margin-right: clamp(2rem, 2.392vw + 1.163rem, 3rem);
    height: clamp(2.75rem, 1.196vw + 2.331rem, 3.25rem);
    width: clamp(2.75rem, 1.196vw + 2.331rem, 3.25rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.hamburger .line {
    height: clamp(0.35rem, 0.120vw + 0.308rem, 0.4rem);
    width: 100%;
    border-radius: 2em;
    background-color: var(--primary);
}

.line {
    transition: all 0.2s ease-in-out;
}

.active .line1 {
    transform-origin: 0% 0%;
    transform: rotate(45deg);
}

.active .line2 {
    width: 0%;
    opacity: 0;
}

.active .line3 {
    transform-origin: 0% 100%;
    transform: rotate(-45deg);
}

nav.active {
    transform: translateY(0%);
}


@media (min-width: 850px) {
    .hamburger {
        display: none;
    }

    .banner {
        background-color: var(--bg);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-left: 2rem;
        font-size: clamp(2.5rem, 2.315vw + 0.722rem, 3.5rem);
    }

    .mask {
        width: 15%;
        position: static;
    }

    nav {
        position: static;
        top: unset;
        display: flex;
        width: 80%;
        z-index: 1;
        border-radius: unset;
        box-shadow: unset;
        transition: unset;
        overflow: unset;
    }

    nav ul {
        flex-direction: row;
        margin-left: 2rem;
        gap: clamp(3rem, 11.864vw - 7.085rem, 10rem);
        align-items: center;
        width: 100%;
    }

    nav li {
        display: flex;
        align-items: center;
    }

    nav li a {
        display: inline;
        padding: unset;
        font-weight: 300;
        font-size: clamp(1.5rem, 1.157vw + 0.611rem, 2rem);
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
        transition: transform 250ms ease-in-out;
    }

    nav .last-li a {
        text-shadow: unset;
        display: flex;
        justify-content: center;
    }

    nav li a::after {
        content: "";
        display: block;
        height: 2px;
        background-color: var(--primary);
        width: 0%;
        position: relative;
        top: 4px;
        text-shadow: unset;
        opacity: 1;
        text-align: center;
        transition: width 100ms ease-in-out;
    }

    nav .last-li a::after {
        display: none;
    }

    nav li a:hover::after {
        opacity: 1;
        width: 100%;
    }

    nav li a.current::after {
        opacity: 1;
        width: 100%;
    }

    .last-li {
        width: 20%;
        margin: 0;
    }

    nav .last-li a:hover {
        transform: scale(1.05);
    }

    nav li .cta {
        margin: unset;
        background-color: var(--primary);
        /* width: clamp(16rem, 5.952vw + 11.429rem, 20rem); */
        width: 20rem;
    }

    nav li .book-now {
        align-items: center;
    }

    nav li .book-now span {
        color: var(--bg);
        width: max-content;
        font-weight: 600;
        font-size: clamp(1rem, 0.372vw + 0.714rem, 1.25rem);
    }

}