<header>
    <div class="banner" role="banner">
        <div class="mask">
            <a href="" class="logo">CarDash</a>
            <div class="hamburger">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="" class="current">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contact</a></li>
                <li class="last-li">
                    <a href="tel:+1 223-908-4325">
                        <div class="cta">
                            <lord-icon src="https://cdn.lordicon.com/hcndxtmn.json" trigger="loop" delay="1000"
                                style="width:3rem;height:3rem;">
                            </lord-icon>
                            <div class="book-now">
                                <span>BOOK NOW</span>
                                <span>+1 223-908-4325</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>